<!DOCTYPE HTML>
<html lang="pl">
<head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>ArkuszStylówJestNoweją</title>
	
	<meta name="description" content="Serwis o starych grach pochodzących z Nintendo Entertainment System" />
	<meta name="keywords" content="gry, komputerowe, retro, nes, konsole, retrogranie, stare gry" />




{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

	
</head>
<body>
	<h1>W main zaloguj</h1>

	<br><br>
	<h1> Chcesz się zalogować? </h1>
	<div class="container">

		<button class="btn-sm btn-danger" type="submit">Uwaga niebezpieczeństo</button>

		<form>
			
			<br>
			<input type="text" name="Login" placeholder="Login">
			
			<input type="password" name="Password" placeholder="Hasło">

			<input class="btn btn-sm btn-info outline" type="submit" name="Przycisk" value="Zaloguj się">


		</form>

	</div>


	<h1>{{myName|default:"nic"}} Iliść liter to: {{myName|filesizeformat}}</h1>
	<ul>
		{% for number in numbers %}
		<li>{{number}}</li>
		{% endfor %}
	</ul>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
</body>
</html>
