<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<a href="/admin" class="btn-sm btn-danger" role="button" target="_blank">Staff only</a>
<div class="btn-group">
    <a href="/index" class="btn-sm btn-primary" role="button">iNDEX</a>
<a href="/about" class="btn-sm btn-primary" role="button">About/User</a>
<a href="/home" class="btn-sm btn-info" role="button">Home</a>
<a href="/contact" class="btn-sm btn-info" role="button">Contact</a>
    <a href="/test" class="btn-sm btn-info" role="button">Test</a>
    <a href="/login" class="btn-sm btn-warrning" role="button">Login</a>
    <a href="/main" class="btn-sm btn-info" role="button">Main</a>
     <a href="/product" class="btn-sm btn-info" role="button">Product</a>
    <a href="/register_f" class="btn-sm btn-warrning role=button">Register</a>
     <a href="/logout" class="btn-sm btn-danger" role="button">Logout</a>

</div>


</body>
</html>